/*-- scss:defaults --*/



// aarhus university colours
$au-blue: #003d73;
$au-dark-blue: #002546;
$au-purple: #655a9f;
$au-dark-purple: #281c41;
$au-cyan: #37a0cb;
$au-dark-cyan: #003e5c;
$au-turquoise: #00aba4;
$au-dark-turquoise: #004543;
$au-green: #8bad3f;
$au-dark-green: #425821;
$au-yellow: #fabb00;
$au-dark-yellow: #634b03;
$au-orange: #ee7f00;
$au-dark-orange: #5f3408;
$au-red: #e2001a;
$au-dark-red: #5b0c0c;
$au-magenta: #e2007a;
$au-dark-magenta: #5f0030;
$au-grey: #878787;
$au-dark-grey: #4b4b4b;
$au-black: #000000;
$au-white: #ffffff;

// aarhus university primary colour
$au-primary-color: $au-blue;

// colors
$body-bg: $au-white !default;
$body-color: $au-black !default;
$link-color: $au-cyan !default; // testing
$selection-bg: $au-magenta !default; //testing

// fonts
$au-font-passata: "AU Passata";
$au-font-passata-light: "AU Passata Light";
$font-family-sans-serif: $au-font-passata, sans-serif !default;
$font-family-monospace: Menlo, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace !default;

// headings
$presentation-heading-font: $font-family-sans-serif !default;
$presentation-heading-color: $au-primary-color !default;
$presentation-heading-text-transform: uppercase !default;

// code blocks
$code-block-border-color: $au-grey !default;

/*-- scss:rules --*/

// default
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

// title slide
#title-slide {
  text-align: left;
  background-color: $au-primary-color;
  color: $au-white;

  .title {
    color: $au-white;
    font-size: 60pt;
    font-weight: bold;
    font-family: $au-font-passata;
    text-transform: uppercase;
  }

  .subtitle {
    color: $au-white;
    font-size: 40pt;
    font-weight: normal;
    font-family: $au-font-passata-light;
    text-transform: uppercase;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-family: $au-font-passata-light;
    //font-size: 80%;
    color: $au-white !important;
  }

  .author,
  .quarto-title-author-name {
    font-family: $au-font-passata-light;
    color: $au-white;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  p {
    color: $au-white !important;
    font-family: $au-font-passata-light;
  }
}

// reveal.js specific overrides
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 0;
  left: 12px;
  max-height: 2.2rem;
  height: 100%;
  width: auto;
  z-index: 2;
}

.reveal .slide-menu-button {
  left: 8px;
  top: 8px;
}

.reveal p {
  font-size: 22pt;
  font-weight: normal;
  font-family: $font-family-sans-serif;
  color: $body-color;
  //margin-top: 1.25em;
}

.reveal p .source {
  font-size: 12pt;
  font-weight: normal;
  font-family: $font-family-sans-serif;
  color: $au-magenta;
  line-height: 1 !important;
}

.source a{
  color: $au-magenta;
  text-decoration: underline;
}

.reveal .footer {
  color: $au-blue !important;
}

.reveal ul li , .reveal ol li {
  font-size: 18pt;
}

.au-meta-presenter {
  font-size: 8pt;
}

.reveal .slide-with-background h1 {
  color: $au-white !important;
}

.reveal .slide-with-light-background h1 {
  color: $au-blue !important;
}

.highlight {
  font-weight: bold;
  color: $au-magenta;
}

.lowercase {
  text-transform: lowercase;
}

.r-package {
  font-weight: bold;
  color: $au-purple;
}

.reveal div.sourceCode {
  margin-bottom: 10px !important;
}

.reveal pre code {
  font-size: 14pt !important;
}

.reveal div.cell-output-stdout pre code {
  font-size: 10pt !important;
  line-height: 1.15em;
  background-color: #24292e !important;
  color: #e1e4e8 !important;
  border: 1px solid #24292e !important;
  border-radius: 4px;
  padding: 6px 9px !important;
  margin-bottom: 10px !important;
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
}

.qrcode {
  margin: auto !important;
}